In [1]:
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from time import sleep

In [348]:
driver.quit()

In [2]:
driver = webdriver.Chrome()

In [3]:
link = 'https://ejalshakti.gov.in/JJM/JJMReports/Physical/JJMRep_HouseholdTapWaterConnection.aspx'

In [4]:
driver.get(link)

In [5]:
driver.get(link)

In [21]:
table=pd.read_html(driver.find_element(By.ID, 'tableReportTable').get_attribute("outerHTML"))[0]

In [22]:
table.columns = table.columns.droplevel(0)

In [23]:
table.head()

,S.No.,State,Total Rural household as on (01/04/2023),Household Connections with PWS as on (01/04/2023),Target ( 2023-2024),Apr,May,Jun,Jul,Aug,...,Nov,Dec,Jan,Feb,Mar,Total,House Connection Provided by Other Department reported till (05/09/2023),Number of Household tap connections from private/own sources,Total Household connections reported (05/09/2023),% of total household connections with PWS reported till (05/09/2023)
,Total,Total,"19,23,15,523","11,63,59,980","4,67,84,025","23,56,162","26,57,799","27,56,548","25,61,554","24,47,612",...,--,--,--,--,--,"1,31,23,734","22,578","6,32,280","13,01,38,572",67.67
0,1,Andaman & Nicobar Islands,62037,62037,0,0,0,0,0,0,...,--,--,--,--,--,0,0,0,62037,100.00
1,2,Andhra Pradesh,9554841,6641466,994118,16701,11025,17694,10864,16606,...,--,--,--,--,--,73916,0,173,6715555,70.28
2,3,Arunachal Pradesh,230138,177115,0,751,5158,7978,7628,5676,...,--,--,--,--,--,27718,0,0,204833,89.00
3,4,Assam,6854408,3198442,1190475,92128,110629,94638,123389,143316,...,--,--,--,--,--,576162,0,0,3774604,55.07
4,5,Bihar,16630175,15908124,0,15688,73031,9422,516,614,...,--,--,--,--,--,99271,22578,380,16030353,96.39

In [17]:
Select(driver.find_element(By.ID, 'CPHPage_ddFinyear')).select_by_value('2022-2023')

In [18]:
driver.find_element(By.ID, 'CPHPage_btnShow').click()

In [56]:
FY = ['2019-2020', '2020-2021', '2021-2022', '2022-2023', '2023-2024']

In [ ]:
<select name="ctl00$CPHPage$ddFinyear" onchange="javascript:setTimeout('__doPostBack(\'ctl00$CPHPage$ddFinyear\',\'\')', 0)" id="CPHPage_ddFinyear" class="w3-select w3-border w3-small w3-pale-yellow ">
	<option value="-1">-Select Year-</option>
	<option selected="selected" value="2019-2020">2019-2020</option>
	<option value="2020-2021">2020-2021</option>
	<option value="2021-2022">2021-2022</option>
	<option value="2022-2023">2022-2023</option>
	<option value="2023-2024">2023-2024</option>

</select>

In [57]:
df = pd.DataFrame()
for fy in FY:
    Select(driver.find_element(By.ID, 'CPHPage_ddFinyear')).select_by_value(fy)
    driver.find_element(By.ID, 'CPHPage_btnShow').click()
    sleep(5)
    table=pd.read_html(driver.find_element(By.ID, 'tableReportTable').get_attribute("outerHTML"))[0]
    df = pd.concat([df, table], axis=1)

MergeError: Passing 'suffixes' which cause duplicate columns {'Total_x', 'Nov_x', 'Aug_x', 'Jan_x', 'Apr_x', 'Dec_x', 'Mar_x', 'Sep_x', 'Oct_x', 'Appropriation done by States in YDU_x', 'Total Household connections reported_x', 'Feb_x', 'Jul_x', 'S.No._x', 'Jun_x', 'May_x'} is not allowed.

In [ ]:
#df = pd.DataFrame()
for fy in FY:
    Select(driver.find_element(By.ID, 'CPHPage_ddFinyear')).select_by_value(fy)
    driver.find_element(By.ID, 'CPHPage_btnShow').click()
    sleep(5)
    table=pd.read_html(driver.find_element(By.ID, 'tableReportTable').get_attribute("outerHTML"))[0]
    table.columns = table.columns.get_level_values(1)
    df = pd.merge(df, table, how='outer', on='State')

In [55]:
df=table

In [ ]:
df = pd.merge(df, table, how='outer', on='State')

In [39]:
df.to_excel('Soumya.xlsx')

In [207]:
driver.get(link)

In [185]:
dropdown_states = Select(driver.find_element(By.ID, 'CPHPage_ddState'))

# Get all the options in the dropdown and retrieve their text
states = [state.text for state in dropdown_states.options][1:]

In [186]:
states

['Select State',
 'Andaman & Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chhattisgarh',
 'Dadra & Nagar Haveli And Daman & Diu',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [381]:
driver.get(link)

In [382]:
Select(driver.find_element(By.ID, 'CPHPage_ddFinyear')).select_by_visible_text('2022-2023')
driver.find_element(By.ID, 'CPHPage_btnShow').click()
dropdown_states = Select(driver.find_element(By.ID, 'CPHPage_ddState'))

# Get all the options in the dropdown and retrieve their text
states = [state.text for state in dropdown_states.options]
states = states[1:]
df_b = pd.DataFrame()
df_d = pd.DataFrame()

In [383]:
for state in states:
    print(f"Selecting: {state}")
    
    # Select the option by its visible text
    Select(driver.find_element(By.ID,"CPHPage_ddState")).select_by_visible_text(state)
    sleep(1)
    
    driver.find_element(By.ID, 'CPHPage_btnShow').click()
    sleep(5)

    table_d = pd.read_html(driver.find_element(By.ID, 'tableReportTable').get_attribute("outerHTML"))[0]
    table_d.columns = table_d.columns.get_level_values(1)
    table_d.insert(1, 'State', state)
    df_d = pd.concat([df_d, table_d], axis=0)    
    
    district1 = Select(driver.find_element(By.ID, 'CPHPage_ddDistrict')).options[1].text
    sleep(1)
    Select(driver.find_element(By.ID, 'CPHPage_ddDistrict')).select_by_visible_text(district1)
    sleep(1)
    
    driver.find_element(By.ID, 'CPHPage_btnShow').click()
    sleep(1)
    
    driver.find_element(By.ID, 'CPHPage_chkBlock').click()
    sleep(1)
    
    driver.find_element(By.ID, 'CPHPage_btnShow').click()
    sleep(15)
    
    table_b = pd.read_html(driver.find_element(By.ID, 'tableReportTable').get_attribute("outerHTML"))[0]
    table_b.columns = table_b.columns.get_level_values(1)
    table_b.insert(1, 'State', state)
    df_b = pd.concat([df_b, table_b], axis=0)

Selecting: Andaman & Nicobar Islands
Selecting: Andhra Pradesh
Selecting: Arunachal Pradesh
Selecting: Assam
Selecting: Bihar
Selecting: Chhattisgarh
Selecting: Dadra & Nagar Haveli And Daman & Diu
Selecting: Goa
Selecting: Gujarat
Selecting: Haryana
Selecting: Himachal Pradesh
Selecting: Jammu & Kashmir
Selecting: Jharkhand
Selecting: Karnataka
Selecting: Kerala
Selecting: Ladakh
Selecting: Lakshadweep
Selecting: Madhya Pradesh
Selecting: Maharashtra
Selecting: Manipur
Selecting: Meghalaya
Selecting: Mizoram
Selecting: Nagaland
Selecting: Odisha
Selecting: Puducherry
Selecting: Punjab
Selecting: Rajasthan
Selecting: Sikkim
Selecting: Tamil Nadu
Selecting: Telangana
Selecting: Tripura
Selecting: Uttar Pradesh
Selecting: Uttarakhand
Selecting: West Bengal

In [384]:
df_d['District'] = df_d['District'].str.title()

In [385]:
df_b['District'] = df_b['District'].str.title()
df_b['Block'] = df_b['Block'].str.title()

In [386]:
df_d = df_d[~(df_d['District'] == 'Total')]
df_d = df_d[~(df_d['District'] == 'National Average')]
df_d = df_d[~(df_d['District'] == 'State Average')]

In [387]:
df_b = df_b[~(df_b['District'] == 'Total')]
df_b = df_b[~(df_b['District'] == 'National Average')]
df_b = df_b[~(df_b['District'] == 'State Average')]

In [388]:
df_b

,S.No.,State,District,Block,Total Rural household as on (01/04/2022),Household Connections with PWS as on (01/04/2022),Apr,May,Jun,Jul,...,Nov,Dec,Jan,Feb,Mar,Total,House Connection Provided by Other Department reported till (31/03/2023),Number of Household tap connections from private/own sources,Total Household connections reported till (31/03/2023),% of total household connections with PWS reported till (31/03/2023)
0,1,Andaman & Nicobar Islands,Nicobars,Car Nicobar,4250,4250,0,0,0,0,...,0,0,0,0,0,0,0,0,4250,100.00
1,2,Andaman & Nicobar Islands,North And Middle Andaman,Diglipur,9600,9600,0,0,0,0,...,0,0,0,0,0,0,0,0,9600,100.00
2,3,Andaman & Nicobar Islands,South Andaman,Ferrargunj,12213,12213,0,0,0,0,...,0,0,0,0,0,0,0,0,12213,100.00
3,4,Andaman & Nicobar Islands,Nicobars,Great Nicobar,2156,2156,0,0,0,0,...,0,0,0,0,0,0,0,0,2156,100.00
4,5,Andaman & Nicobar Islands,South Andaman,Little Andaman,4897,4897,0,0,0,0,...,0,0,0,0,0,0,0,0,4897,100.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,340,West Bengal,Coochbehar,Tufanganj-I,55708,10211,1131,2136,1305,4958,...,1732,974,974,1004,962,19021,0,0,29232,52.47
340,341,West Bengal,Coochbehar,Tufanganj-Ii,47296,9596,1550,198,745,101,...,413,2480,1586,5,2140,11281,0,0,20877,44.14
341,342,West Bengal,Howrah,Udaynarayanpur,45278,0,2174,342,264,971,...,1961,155,436,1311,1609,10046,0,8,10054,22.21
342,343,West Bengal,Howrah,Uluberia-I,55974,13078,43,155,3,0,...,22,135,0,0,0,387,0,59,13524,24.16
343,344,West Bengal,Howrah,Uluberia-Ii,44205,1377,0,80,0,0,...,521,67,68,326,111,1173,0,0,2550,5.77

In [389]:
df_d

,S.No.,State,District,Total Rural household as on (01/04/2022),Household Connections with PWS as on (01/04/2022),Apr,May,Jun,Jul,Aug,...,Nov,Dec,Jan,Feb,Mar,Total,House Connection Provided by Other Department reported till (31/03/2023),Number of Household tap connections from private/own sources,Total Household connections reported till (31/03/2023),% of total household connections with PWS reported till (31/03/2023)
1,2,Andaman & Nicobar Islands,Nicobars,8827,8827,0,0,0,0,0,...,0,0,0,0,0,0,0,0,8827,100.00
2,3,Andaman & Nicobar Islands,South Andaman,28810,28810,0,0,0,0,0,...,0,0,0,0,0,0,0,0,28810,100.00
3,4,Andaman & Nicobar Islands,North And Middle Andaman,24400,24400,0,0,0,0,0,...,0,0,0,0,0,0,0,0,24400,100.00
0,1,Andhra Pradesh,Palnadu,419740,103315,174,259,620,2284,3302,...,4247,3220,2836,1465,991,23700,0,1372,128387,30.59
1,2,Andhra Pradesh,Srikakulam,539302,102277,813,2774,2262,3650,9787,...,8943,7459,6447,1243,231,63843,0,0,166120,30.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,19,West Bengal,Purba Bardhaman,1164829,324207,3784,15025,8258,8430,6927,...,13748,19820,15075,15649,13775,135938,0,19895,480040,41.21
19,20,West Bengal,Alipurduar,356637,106985,7515,4468,5566,2380,2561,...,3546,3001,3000,3203,4306,42431,0,385,149801,42.00
20,21,West Bengal,Paschim Bardhaman,286459,77549,4183,4760,4693,1795,1346,...,1549,3503,3677,9510,7756,44982,0,3243,125774,43.91
21,22,West Bengal,Bankura,741305,246970,18988,18686,15107,12062,8134,...,5129,7514,6968,5554,3917,107272,0,358,354600,47.83
23,24,West Bengal,Nadia,1285183,509137,29234,35157,29466,12802,7173,...,19233,25753,22663,28586,25871,264705,0,6370,780212,60.71

In [361]:
df_d.nunique()

S.No.                                                                         77
State                                                                         33
District                                                                     740
Total Rural household as on  (01/04/2023)                                    745
Household Connections with PWS as on  (01/04/2023)                           743
Apr                                                                          537
May                                                                          540
Jun                                                                          532
Jul                                                                          523
Aug                                                                          514
Sep                                                                          422
Oct                                                                            1
Nov                                                                            1
Dec                                                                            1
Jan                                                                            1
Feb                                                                            1
Mar                                                                            1
Total                                                                        602
House Connection Provided by Other Department reported till  (08/09/2023)     17
Number of Household tap connections from private/own sources                 191
Total Household connections reported till  (08/09/2023)                      742
% of total household connections with PWS reported till (08/09/2023)         576
dtype: int64

In [362]:
df_b.nunique()

S.No.                                                                         826
State                                                                          34
District                                                                      741
Block                                                                        6768
Total Rural household as on  (01/04/2023)                                    6680
Household Connections with PWS as on  (01/04/2023)                           6432
Apr                                                                          1460
May                                                                          1563
Jun                                                                          1590
Jul                                                                          1559
Aug                                                                          1508
Sep                                                                           696
Oct                                                                             1
Nov                                                                             1
Dec                                                                             1
Jan                                                                             1
Feb                                                                             1
Mar                                                                             1
Total                                                                        3109
House Connection Provided by Other Department reported till  (08/09/2023)      51
Number of Household tap connections from private/own sources                  596
Total Household connections reported till  (08/09/2023)                      6507
% of total household connections with PWS reported till (08/09/2023)         4021
dtype: int64

In [390]:
df_b.to_excel('Block_FHTC_rate_22-23.xlsx')

In [391]:
df_d.to_excel('District_FHTC_rate_22-23.xlsx')

In [ ]:
df_b.to_excel('Block_FHTC_rate_22-23.xlsx', index=False)
df_d.to_excel('District_FHTC_rate_22-23.xlsx', index=False)